<div>
	<% provide(:title, 'Team') %>
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="nav-header">Team Members</li>
			<li class="active">
				<a href="#Kyle" data-toggle="tab">Kyle</a>
			</li>
			<li>
				<a href="#Steve" data-toggle="tab">Steve</a>
			</li>
			<li>
				<a href="#Phil" data-toggle="tab">Phil</a>
			</li>
			<li>
				<a href="#Nick" data-toggle="tab">Nick</a>
			</li>
			<li>
				<a href="#Julie" data-toggle="tab">Julie</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="Kyle" >
				<h3>Kyle Billemeyer</h3>
				<p>Contact: billemeyer.k@gmail.com</p>
				<p>Url: www.culturedrobot.com</p>	
			</div>
			<div class="tab-pane fade in" id="Steve">
				<h3>Stephen Elliot</h3>
				<p>Contact: </p>
				<p>Url: </p>	
			</div>
			<div class="tab-pane fade in" id="Phil">
				<h3>Phil Quinn</h3>
				<p>Contact: phillmatic19@gmail.com</p>
				<p>Url: www.philqu.in</p>	
			</div>
			<div class="tab-pane fade in" id="Nick">
				<h3>Nick Bagley</h3>
				<p>Contact: </p>
				<p>Url: </p>	
			</div>
			<div class="tab-pane fade in" id="Julie">
				<h3>Julie Murphy</h3>
				<p>Contact: </p>
				<p>Url: </p>	
			</div>
		</div>
	</div>
</div>
