<div class="row is-pushed-down">
	<div class="span8">
		<div class="content is-padded">		
			<h1>Welcome to the Mythic Kitchen!</h1>
			<h3>What's that...</h3>
			<p> Mythic Kitchen is a group of five Northeastern students working on a year long "capstone" project.  Every major at Northeastern has one of these so called capstones which are essentially senior culminating projects, each focusing on a that major's discipline.  The discipline we happen to be focusing on is Game Design.  Along with one other group of seniors, we are the first students to go through Northeastern's newly formed Interactive Media college (Game Design is a major under that college).  In addition to being Game Design majors four of us are Computer Science majors, and the fifth is an Art and Design major.  For more info on the indivual team members, check out our <a href=<%= team_path %>>Team</a> page.</p>
			<h3>So what are you doing...</h3>
			<p>For our project we have to make some kind of game, naturally.  More specifically, we have to come up with a game idea and take it from a concept to a playable demo.  The game we are making is currently entitled "Time Sink."  It is a 2D shooter with a strong emphasis on puzzle and platforming elements.  The main draw from a gameplay perspective is that there will be time manipulation mechanics.  Think <a href="http://braid-game.com/">Braid</a> meets <a href="http://en.wikipedia.org/wiki/Super_Metroid">Super Metroid</a>.  From a narrative perspective, the game will revolve around the concept of time travel.  It will have a more  artistic style than your typical blockbuster, touching on some sensitive topics often overlooked in games such as regret, loss and death. For more fine-grain detail about the game itself, check out our <a href= <%= timesink_path %>>Time Sink</a> page.</p>
			<h3>So is that it...</h3>
			<p>Not quite!  During the on-going process of making Time Sink, we have had to make our own game engine and editor based on <a href="http://msdn.microsoft.com/en-us/centrum-xna.aspx">XNA</a>.  We are working diligently to decouple the engine from Time Sink and release it as an open source project under the pseudonym "Pancakes".  At the time of writing this (Feb 12th), the Pancakes effort is just underway.  Within the the next couple weeks the project should reach alpha and be available publicly.  For more information on the engine/editor project, check out our <a href=<%= pancakes_path %>>Pancakes</a> page.</p>
			<p>In addition to these two projects, we hope to keep a developer blog going, tracking our progress.  Seeing as the creation of this site happened long after we started working on our projects, we will likely release a series of posts looking back on some of the milestones we've already completed.</p>
			<br>
			<p>Thanks for stopping by. Enjoy!</p>
			<br>
			<br>
			<p>-The Mythic Kitchen team.</p>
		</div>
	</div>
	<div class="span4 bordered-box">		
		<div class="is-padded">
			<h4>News<h4>
		</div>
	</div>
</div>
