<div class="row">
	<div class="span8 page">
		<div class="is-padded">		
			<h4>Welcome</h4>
		</div>
	</div>
	<div class="span4 bordered-box is-pushed-down">		
		<div class="is-padded">
			<h4>News<h4>
		</div>
	</div>
</div>
