// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom"; 

.page {
	background-color: $bluetoneLight;
	-moz-border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.content h1{
	color: $bluetoneMid;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.content h2, .content h3, .content h4 {
	margin-top: 35px;
}

.content p, .content h1, .content h2, .content h3, .content h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content p {
	font-size: 14px;
	line-height: 20px;
}


